<!doctype html>
<html>

<head>
    <title>Hola Django</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>

<body>

    <h1>Usuarios - Delete</h1>

    <form method="post">{% csrf_token %} 
        <p>¿Esta seguro que quiere eliminar el usuario: "{{ object }}"?</p>
        <input class="btn btn-danger" type="submit" value="Delete" />
        <a href="/usuario" type="button" class="btn btn-default">Volver</a>
    </form>

    <!-- Latest compiled and minified JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>